<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>

    <!--Custom CSS-->
    <Link rel="stylesheet" href="/css/styles.css" />

    <!--Custom JS-->
    <script src="/js/main.js" defer></script>

    <!--Socket.io-->

    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"
    integrity="sha512-oFOCo2/3DtjrJG4N27BjSLQWoiBv171sK6a+JiWjp/7agxC2nCUP358AqzxkBUb5jX8g6CYLPdSKQTbC0weCwA=="
    crossorigin="anonymous"></script>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
    <body>
        <div id="welcome-text-wrapper">
            <p id="welcome-text"></p>
            <p id="cursor">|</p>
        </div>
        <form id="message-input-wrapper" onsubmit="event.preventDefault(), messageHandler()">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter your message here..." id="message-input" required maxlength="128">
            <button type="submit" class="btn btn-info" id="send-message-btn">Send</button>
        </form>
        <div id="message-board">
            <% if (messages.length === 0) { %>
                <p id="empty-messages-text">New messages will show up here.</p>
            <% } %>
            <div id="messages">
                <% for (let i = 0; i < messages.length; i++) { %>
                    <div class="message-wrapper">
                        <p class="date"><%= messages[i].date %></p>
                        <p class="message"><%= messages[i].message %></p>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
</html>
